<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <title>東京メトロ オープンデータ APIテスト</title>
  </head>
  <body>
  <h1>データ検索API(/api/v2/datapoints)</h1>
    <form action="/datapoints" method="post">
      <select name="rdf_type" id="js-datapoints_rdf_type">
        <% @datapoints_rdf_types.each do |type|  %>
          <option value="<%= type %>"><%= type %></option>
        <% end %>
      </select>
      <div id="js-datapoints_params"></div>
      <input type="submit" value="go" />
    </form>
  <h1>地物情報検索API(/api/v2/places)</h1>
    <p>rdf:Typeの指定のみ</p>
    <form action="/places" method="post">
      <select name="rdf_type">
        <% @places_rdf_types.each do |type|  %>
          <option value="<%= type %>"><%= type %></option>
        <% end %>
      </select>
      <input type="submit" value="go" />
    </form>
  <h1>各種情報</h1>
    <ul>
      <li>
	<a href="https://developer.tokyometroapp.jp/documents/odpt#odpt:Railway-路線名">路線名(odpt:Railway)</a>
      </li>
    </ul>
  <script src="/js/script.js"></script>
  </body>
</html>

